//- template
extends ../templates/internal

block styles
	link(rel="stylesheet", href="./css/internals.css")
	link(rel="stylesheet", href="./css/blocks/alertas.css")

//- content
block content

	.page-content.alerta-content
		.wrapper
			h2.page-title Alertas

			.container-alertas
				ul
					li
						p!='<a href="/perfil">Nome de usuário</a> quer fazer parte de <a href="#">sua carona</a>.'
					li
						p!='<a href="/perfil">Nome de usuário</a> aceitou sua solicitação de <a href="#">carona</a>.'
					li
						p!='<a href="/perfil">Nome de usuário</a> alterou o status da <a href="#">carona</a> para CANCELADA.'
					li
						p!='<a href="/perfil">Nome de usuário</a> quer fazer parte de <a href="#">sua carona</a>.'
					li
						p!='<a href="/perfil">Nome de usuário</a> aceitou sua solicitação de <a href="#">carona</a>.'
					li
						p!='<a href="/perfil">Nome de usuário</a> alterou o status da <a href="#">carona</a> para CANCELADA.'
					li
						p!='<a href="/perfil">Nome de usuário</a> quer fazer parte de <a href="#">sua carona</a>.'
					li
						p!='<a href="/perfil">Nome de usuário</a> aceitou sua solicitação de <a href="#">carona</a>.'
					li
						p!='<a href="/perfil">Nome de usuário</a> alterou o status da <a href="#">carona</a> para CANCELADA.'
					li
						p!='<a href="/perfil">Nome de usuário</a> quer fazer parte de <a href="#">sua carona</a>.'
					li
						p!='<a href="/perfil">Nome de usuário</a> aceitou sua solicitação de <a href="#">carona</a>.'
					li
						p!='<a href="/perfil">Nome de usuário</a> alterou o status da <a href="#">carona</a> para CANCELADA.'
					li
						p!='<a href="/perfil">Nome de usuário</a> quer fazer parte de <a href="#">sua carona</a>.'
					li
						p!='<a href="/perfil">Nome de usuário</a> aceitou sua solicitação de <a href="#">carona</a>.'
					li
						p!='<a href="/perfil">Nome de usuário</a> alterou o status da <a href="#">carona</a> para CANCELADA.'